/* BASIC STYLING FOR ALL ELEMENTS */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  /* /////////////////// */

  h1, 
  h2 {
    text-align: center;
    padding-bottom: 1rem;
  }

  h2 {
    font-weight: lighter;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form label {
    margin-top: 3rem;
  }

  .form label,
  .form input {
    margin-bottom: 1rem;
    text-align: center;
  }

  .form button {
    cursor: pointer;
  }