/* BASIC STYLING FOR ALL ELEMENTS */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  /* INTRODUCTION STYLING */

  section p {
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 1.5rem;
  }

  section h1 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400;
  }

  section h2 {
    padding-bottom: 5rem;
    font-weight: lighter;
  }

  section h1, 
  section h2 {
    color: white;
    padding-left: 5rem;
    background-color: rgb(32,116,188);
  }

  @media (max-width: 450px) { 
    section h1, 
    section h2 {
      padding-left: 1rem;
    }
   }

    /* USER INPUT STYLING */

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 450px) { 
    .container {
      display: flex;
      flex-direction: column;
    }
   }

  .form label {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
   
  }

  .form input {
    border: 2px solid black;
    padding: 0.5rem 6rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .form button {
    cursor: pointer;
    padding: 0.5rem;
    background-color:rgb(32,116,188);
    border: none;
  }

  .form button img {
    width: 1rem;
  }

  /* OUTPUT INPUT STYLING */

  .result {
    text-align: center;
    padding-top: 3rem;
    line-height: 2rem;
  }

  .info_bold {
    font-weight: bold;
  }

  .error {
    color: red;
  }

  .error_guess {
    font-weight: bold;
  }

